* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifcls
}

body {
    margin: 10px auto;
}

.form {
    width: 50%;
}